*, *::before, *::after {
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, #8e300e, #121fd8);
}

.calculator-grid{
display: grid;
justify-content: center;
margin-top: 100px;
min-height: 30vh;
grid-template-columns: repeat(4, 100px);
grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button{
cursor: pointer;
font-size: 2rem;
border: 1px solid rgba(27, 61, 255, 0.836);
outline: none;
background-color: rgba(250, 252, 248, 0.747);
}

.calculator-grid >button:hover {
background-color: white;

}
.span-two{
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
background-color:rgba(9, 8, 8, 0.911);
display: flex;
align-items: flex-end;
justify-content: space-around;
flex-direction: column;
padding: 10px;
word-wrap: break-word;
word-break: break-all;
}

.output .previous-operand{
color: white;
font-size: 30px;
}

.output .current-operand{
    color: white;
    font-size: 3rem;
}